<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Book</title>
</head>
<body>
    <%- include('./partials/nav') %>
        <canvas id="pdfviewer">

        </canvas>
    <%- include('./partials/script') %>
</body>
</html>